
.video{
    height: 77vh;
}
.whiteboard{
  height: 77vh;
  background-color: white;
}
.row{
  padding: 2vh 2vw;
  margin: 0!important;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  /* padding: 10px; */
  height: 86vh;
  overflow: hidden;
  padding-left: 1vw;
  padding-right: 1vw;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }}
